/* style.css template */

/* global - specificity = 0 */
* {
    padding: 0; /* space between the border of a box and the content of the box */
    border: 0; /* space between the margin and the padding */
    margin: 0; /* space between the borders of a box and the borders of adjacent boxes. vertical margins overlap, largest value applied */
    box-sizing: border-box; /* ensure that if width and height elements are set for an object they include p, m ,b */
    line-height: 1.5;
    outline: 1px dotted rgba(55, 52, 235, 0.623);
    outline-style: dashed;
}

body {
    font-size: 16px;
    font-family: Roboto, Verdana, sans-serif;
    color: rgb(204, 204, 204);
    /* background-color: #222222; */
    /* margin: 0 100px; */
}

h1 {
    text-align: center;
}

/* ========== BOX MODEL ========== //
//
// Margin      | e.g. margin: 10px 10px 10px 20px (top | right | bottom | left)  
// Border      | e.g. border: 2px dotted green
// Padding     | e.g. padding: 10px (shorthand)
// Content     | 
// box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
*/

.div_1, .div_6 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.div_3, .div_5 {
    background-color: white;
    color: #1F2937;
}

.div_4 {
    background-color: #E5E7EB;
    color: #1F2937
}

.button {
    background-attachment: #3882F6;
}

.flex_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_1 {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
    .header_logo {
        width: 55%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 24px;
        font-weight: 900;
    }
    .header_links {
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.div_6 {
    height: 90px;
}