/* style.css template */

/* global - specificity = 0 */
* {
    padding: 0; /* space between the border of a box and the content of the box */
    border: 0; /* space between the margin and the padding */
    margin: 0; /* space between the borders of a box and the borders of adjacent boxes. vertical margins overlap, largest value applied */
    box-sizing: border-box; /* ensure that if width and height elements are set for an object they include p, m ,b */
    line-height: 1.5;
    /* outline: 1px dashed rgba(55, 52, 235, 0.623); */
}

/* ========== BOX MODEL ========== //
//
// Margin      | e.g. margin: 10px 10px 10px 20px (top | right | bottom | left)  
// Border      | e.g. border: 2px dotted green
// Padding     | e.g. padding: 10px (shorthand)
// Content     | 
// box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
*/

body {
    font-size: 18px;
    font-family: "Roboto-Black", Arial, sans-serif;
    /* color: rgb(204, 204, 204); */
}

h1 {
    text-align: left;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h3 {
    font-size: 22px;
}

p {
    padding: 5px 40px 5px 0;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    width: 130px;
    height: 40px;
    font-size: inherit;
    color: inherit;
    font-weight: 900;
    border-radius: 9px;
}

button:hover{
    cursor: pointer;
}

.div_1, .div_2, .div_6 {
    background-color: #1F2937;
    color: #F9FAF8;
}

.div_3, .div_5 {
    background-color: white;
    color: #1F2937;
}

.div_4, .hero_img {
    background-color: #E5E7EB;
    color: #1F2937
}

button, .c2a_cont {
    background-color: #3882F6;
}

.flex_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, .hero, .quote_cont, .c2a_cont {
    margin: 0px 12%;
}

.header_links, .hero_2nd, .div_5 {
    color: #E5E7EB;
}

.div_1 {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .header_logo {
            width: 55%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 24px;
            font-weight: 900;
        }
        .header_links {
            width: 45%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

.div_2 {
    width: 100%;
    height: 465px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .hero {
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
        .hero_text {
            width: 50%;
        }
        .hero_img {
            width: 50%;
        }

.div_4 {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .quote_cont {
        width: 65%;
    }
        .quote {
            font-size: 35px;
            font-weight: 100;
            padding: 0;    
            line-height: 1;    
        }
        .quote_author {
            text-align: right;
            font-size: 22px;
            font-weight: 900;
            margin-top: -20px;
        }

.div_5 {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .c2a_cont {
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: space-between;
        padding: 0 7%;
        align-items: center;
        border-radius: 12px;
    }
    #sign_up_2 {
        outline: solid #E5E7EB;
    }


.div_6 {
    height: 80px;
}